.chips-wrapper::-webkit-scrollbar {
  height: 8px;
}
.chips-wrapper::-webkit-scrollbar-track {
  background: none;
}
.chips-wrapper::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}
.chips-wrapper {
  position: fixed;
  top: 54px;
  background-color: white;
  display: flex;
  overflow-x: auto;
  width: 100%;
  z-index: 100;
}
.chip,
.chip-1 {
  margin: 12px 6px;
  background-color: #d9d8d8;
  padding: 6px 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  white-space: nowrap;
  cursor: pointer;
  color: black;
  transition: 0.5s;
}
.chip-1 {
  background-color: black;
  color: white;
}
.chip:hover {
  background-color: #b5b4b4;
}
.chip p {
  font-size: 14px;
}
